.background-grey {
  background-color: #2f2f2f;
}

.white {
  color: white;
}

.typewriter {
  text-align: center;
  color: white;
}

.base-font {
  font-family: 'Quicksand';
}


.header-slideIn {
  transform: translateY(-300%);
  opacity: 0;
}

.finished-slideIn-anim {
  animation-name: moveToCenterAndFadeIn;
  animation-duration: 0ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.slideIn-anim {
  animation-name: moveToCenterAndFadeIn;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#welcome_message {
text-align: center; 
color: white;
}

#pfp {
  display: block;
  height: auto;
  width: 20%;
  margin: auto;
}

.fadein {
  opacity: 0;
}

.fadein-anim {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.finished-fadein-anim {
  animation-name: fadeIn;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}


@keyframes moveToCenterAndFadeIn {
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    visibility: visible;
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  width: .25rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: rgb(248, 139, 248);
}