.background-grey {
  background-color: #2f2f2f;
}

.white {
  color: white;
}

.typewriter {
  text-align: center;
  visibility: hidden;
  color: white;
}

.base-font {
  font-family: 'Quicksand';
}

#welcome_message {
text-align: center; 


color: white;

opacity: 0;
transform: translateY(-300%);

animation-name: moveToCenterAndFadeIn;
animation-duration: 1s;
animation-delay: 0s;
animation-fill-mode: forwards;
animation-iteration-count: 1;
animation-timing-function: ease-in-out;

}

#pfp {
  display: block;
  height: auto;
  width: 20%;
  margin: auto;

  opacity: 0;
  transform: translateY(-300%);

  animation-name: moveToCenterAndFadeIn;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.fadein {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}


@keyframes moveToCenterAndFadeIn {
  to {
      transform: translateY(0);
      opacity: 1;
  }

}

@keyframes fadeIn {
  to {
    visibility: visible;
    opacity: 1;
  }
}