body {
    color: #2f2f2f;
}

.typewriter {
    text-align: center;
    visibility: hidden;
}

#welcome_message {
text-align: center; 
font-family: 'Quicksand';

opacity: 0;
transform: translateY(-300%);

animation-name: moveToCenterAndFadeIn;
animation-duration: 1s;
animation-delay: 0s;
animation-fill-mode: forwards;
animation-iteration-count: 1;
animation-timing-function: ease-in-out;

}

#pfp {
    display: block;
    height: auto;
    width: 20%;
    margin: auto;

    opacity: 0;
    transform: translateY(-300%);

    animation-name: moveToCenterAndFadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}


@keyframes moveToCenterAndFadeIn {
    from {
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}
